APP_NAME=Laravel
APP_ENV=testing
APP_KEY=base64:DD/HJpBQ7a5ZgucPR7iMNxpBfVyz/iDL0/AmQjJPTbQ=
APP_DEBUG=true
APP_URL=http://localhost


DB_CONNECTION=sqlite
DB_DATABASE=:memory:
CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
OPENWEATHER_API_KEY=""